<template name="layout">
    <nav class="navbar navbar-inverse navbar-static-top">
    	<div class="container-fluid">
	        <div class="navbar-header">
	        	<a href="/" class="pull-left"><img src="logo.png"></a>
		        <div class="right-side-button">
			      	<a class="navbar-brand" href="/posts">Posts</a>
					    <a class="navbar-brand" href="/posts/create">Create</a>
				      {{#if currentUser}}
				      		<a class="navbar-brand logout" href="#">Logout</a>
				      {{else}}
					      	<a class="navbar-brand" href="/login">Login</a>
					  {{/if}}
				</div>
	    	</div>
	   	</div>
    </nav>
	<br>
	<br>	
	<!-- <h1>{{currentUser.emails[0].address}}</h1> -->
        {{> yield}}
    <hr>
</template>